<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="mysql.mysql-connector-java">
    <resources>
        <resource-root path="mysql-connector-java-5.1.31-bin"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>